@keyframes down-top {
    from {
        bottom: 100vh;
        opacity: 0;
    }

    to {
       bottom: 0px;
       opacity: 1;
    }
}

@keyframes appearances {

    from {
        right: 190%;
    }   
    to {
        right: 0px;
    }

}

.anim-appearances {
    position: relative;
    animation: appearances 2s ease-in-out 4ms 1;
   
}

.anim-appearances-reverse {
    animation: appearances 2s reverse 4ms 1;
}

.anim-appearances div:nth-child(2), .anim-appearances-reverse:nth-child(2) {
    animation-duration: 2.7s;
     animation-delay: 6ms;
}

.anim-appearances div:nth-child(3), .anim-appearances-reverse:nth-child(3) {
      animation-duration: 2.7s;
       animation-delay: 8ms;
}

.anim-appearances div:nth-child(4), .anim-appearances-reverse:nth-child(4) {
    animation-duration: 3.7s;
    animation-delay: 9ms;
}

.initial-section__content {
    opacity: 1;
}

.survey-help {
    position: relative;
    right: 190%;
}

.anim-down-top {
    position: relative;
    animation: down-top 2s ease-in-out 1ms 1;
}

.examples-professions__blocks div {
    transition: padding 2s, box-shadow 2s;
}

.examples-professions__blocks div:hover {
    padding: 0px 0px 20px 30px;
    box-shadow:  12px 12px 2px 1px #aca6a6;
}
   