*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Montserrat;
    src: url(/assets/fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}
.header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2009;
        background-color: white;
        width: 100%;
}
.header__wrapper {
    display: flex;
    align-items: center;
    height: 90px;
    gap: 40px;
    padding: 0 10vw;
    justify-content: space-between;
    margin: 0 auto;
}
.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-list__element {
    list-style: none;
}
.header-list__link {
    font-size: 16px;
    font-family: 'Montserrat';
    color: black;
    text-decoration: none;
}
.icon-ulytau {
    width: 100px;
    height: 65px;
}
.year-icon {
    width: 150px;
    height: 65px;
}
.initial-section__content {
    padding: 80px 10vw 60px 10vw;
    margin: 0 auto;
}
.initial-section__title {
    font-size: 80px;
    font-family: 'Montserrat';
}
.initial-section__content {
    display: flex;
    gap: 100px;
    align-items: center;
}
.initial-section__subtiltle {
    max-width: 631px;
    padding-top: 30px;
    font-size: 36px;
    font-family: 'Montserrat';
}
.button-test {
    margin-top: 30px;
    width: 356px;
    height: 90px;
    color: white;
    font-size: 36px;
    font-family: 'Montserrat';
    background-color: #3B77E1;
    border: none;
    border-radius: 25px;
}
.main-video {
    max-width: 1000px;
    height: 550px;
    border-radius: 25px;
}

