@keyframes down-top {
    from {
        bottom: 100vh;
        opacity: 0;
    }

    to {
       bottom: 0px;
       opacity: 1;
    }
}

.initial-section__content {
    opacity: 1;
}

.anim-down-top {
    position: relative;
    animation: down-top 2s ease-in-out 1ms 1;
}